<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="snod.com.cn.dao.LogFileDao">

	<select id="queryLogFileInfo"  resultType="snod.com.cn.entity.LogFileInfo">
		select * from log_file_info where sn=#{sn}
 	</select>
	
	<insert id="saveFile" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id"
		parameterType="snod.com.cn.entity.LogFileInfo">
		insert into
		log_file_info 
		(
			id,
			device_name,
			sn,
			log_type,
			file_type,
			file_name,
			file_path,
			file_local_path,
			file_size,
			create_time
		)
		values
		(
			#{id},
			#{deviceName},
			#{sn},
			#{logType},
			#{fileType},
			#{fileName},
			#{filePath},
			#{fileLocalPath},
			#{fileSize},
			#{createTime}
		)
	</insert>
	
</mapper>