<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="snod.com.cn.dao.LogFileDao">

	
	<select id="queryLogFileInfo" parameterType="Long" resultType="snod.com.cn.entity.LogFileInfo">
		select * from log_file_info where id=#{id}
 	</select>
	
</mapper>